*.pyc  # скомпилированные Python файлы
__pycach__/  # папка с кэшем Python
.env  # файлы с переменными окружения
venv/  # виртуальное окружение Python
*.log  # файлы логов
dist/  # папка с собранными пакетами
build/  # папка со сборкой проекта